/*Style sheet for profile page*/
body{
  background-color: gray;
}

.btn{
  margin: 10px;
}

.profile-pic{
  width: 90%;
  padding: 10px;
}

.my-playlists p{
  font-size: 12pt;
}

.thumbnail{
  width: 200px;
  height: 120px;
  align-self: center;
  background-color: black;
}
